.header_main {
    background-color: #fbfafc;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_main{
    max-width: 1486px !important;
    width: 100% !important;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  .bell {
    height: 19.5px;
    width: 16px;
    margin: 0px 29px 0px 26px;
  }
  .profile {
    width: 40px;
    height: 40px;
  }
  .user_name {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 17px !important;
  }
  /* .toggle-menu {
    margin-top: 35px;
  } */
  .logo {
    display: flex;
  }
  .sidebar_main_mobile {
    background-color: #ffffff;
    /* height: 875px; */
    /* padding-top: 20px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    height: 93vh;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo-name-mobile {
    display: flex;
  }
  .image-mobile {
    height: 28px;
    width: 28px;
  }
  
  .name_mobile {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.05px;
    padding-left: 7px;
    margin-top: 0px;
    color: #2e3338;
  }
  .menu_mobile {
    margin-top: 10px !important;
  }
  .menu_item_mobile {
    /* height: 38px; */
    width: 60%;
    /* border-radius: 5px; */
    /* background-color: #2e3338; */
    /* padding-left: 22px;
    padding-right: 23px; */
    cursor: pointer;
    height: 85px;
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
margin-left: 5rem;
    margin-bottom: 8px !important;
    padding: 0px 30px;

  }
  .text_h4{
    color: #002D72 !important;
    font-size: 17px;
    text-decoration: none !important;
    /* font-family: ""Gotham Rounded ""; */
}
.icone {
    height: 40px;
    width: 40px;
    /* padding-top: 10px !important; */
    color: #ffffff;
    transform: translate(-90px,54px);
  }
  .icone_mobile {
    height: 18px;
    width: 16.5px;
    padding-top: 10px !important;
    color: #ffffff;
  }
  .menu_name_mobile {
    padding-left: 13px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    color: #ffffff;
    padding-top: 14px !important;
  }
  .socialmedia-icone-mobile {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .socialmedia-picture-mobile {
    height: 26px;
    width: 26px;
    padding-right: 7px;
    margin-top: 8px;
  }
  
  .d_flex_user {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }
  .button_save{
    /* background-color: #002d72 !important; */
    color: #002d72 !important;
    margin-bottom: 20px !important;
        min-height: 38px;
        /* bottom: 40px; */

        /* position: fixed; */
        max-width: 160px;
        /* margin-left: -105px; */
        width: 100%;
        line-height: 27px!important;
        min-width: 76px;
        font-size: 12px!important;
        text-transform: capitalize !important;
}
.button_Certificate{
background-color: #002d72 !important;
color: #fff !important;
margin-bottom: 20px;

    min-height: 38px;
    /* bottom: 20px; */
    /* position: fixed; */
    max-width: 160px;
    /* margin-left: -105px; */
    width: 100%;
    line-height: 27px!important;
    min-width: 76px;
    font-size: 12px!important;
    text-transform: capitalize !important;

}

  
  
 
  
  .qbook_header {
    padding-top: 22px;
    border-bottom: 2px solid #e9e9e9;
  }
  
  .d_justify_between {
    justify-content: space-between !important;
  }
  
  .header_section_intro {
    margin-left: 28px;
  }
  
  @media (min-width: 1025px) {
    .toggle_button {
      display: none !important;
    }
    .drawer {
      display: none !important;
    }
    .header_main {
      justify-content: flex-end;
    }
  }
  
  @media (max-width: 899px) {
    .course_chapter_section {
      margin-left: 28px;
    }
  }
  
  @media (max-width: 700px) {
    .d_flex_column {
      flex-direction: column;
    }
    .header_section_intro {
      margin-left: 0px;
    }
    .header_mt_xs {
      margin-top: 4px;
    }
  }
  
  @media (max-width: 450px) {
    .header_main_box {
      /* min-width: 412px; */
    }
  }
  