/* .pagelayout {
    padding-left: 38px !important;
    padding-right: 28px !important;
  } */
  
  
  /* @media (max-width: 599px) {
    .pagelayout {
      margin-left: 5px !important;
      padding-left: 16px !important;
      padding-right: 16px;
    }
  } */