.Certificate{
    transform: translate(90px,15px) !important;
    
}
.Certificate_text{
    float: right;
    bottom: 0;
    width: 60%;
    text-align: left;
    color:#576BAA;
    font-size: 13px;
}
.Certificate_text_sub{
    color:#e56a54;
    padding-top: 1.7rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    text-align: left;
    font-size: 18px;

}
.Certificate_text_end{
    
    padding-top: 1.7rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    text-align: left;
    font-size: 16px;

}
.main_text{
    font-size: 20px !important;
 
}
.text1
{
   font-size: 13px !important;
  
}
.month
{
    font-size: 30px !important;
    color: #e56a54 !important;
}
@media (max-width: 1167px) {
    .main_text{
        font-size: 16px !important;
     
    }
}
@media (max-width: 1025px) {
    .Certificate_main{
        display: none !important;
    }
    
}